body {
	color: #364F6B;
}

.container {
	width: 800px;
	margin: auto;
}

a {
	text-decoration: none;
	color: #364F6B;
}

.nav {
	display: flex;
	justify-content: space-between;
	line-height: 50px;
}

.nav ul {
	display: flex;
	 list-style-type: none;
	 text-align: center;
}

.nav li {
	padding-right: 12px;
	font-size: 20px;
}

img {
	object-fit: cover;
}

.main {
	border: 3px solid #364F6B;
	padding: 10px 20px;
}